trigger:
- main

pool:
  name: default

stages:
# ---------------- BUILD ----------------
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - checkout: self

    - script: |
        npm install
        npm run build
      displayName: Build UI

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: 'build'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/todoapp.zip'
        replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'drop'

# ---------------- DEPLOY ----------------
- stage: Deploy_Dev
  dependsOn: Build
  jobs:
  - deployment: DeployToDev
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            inputs:
              azureSubscription: 'Terraform2(1a39c6ac-4bf8-406a-be20-298e2ae5b5ce)'
              appType: 'webAppLinux'
              appName: 'todoappui'
              package: '$(Pipeline.Workspace)/drop/todoapp.zip'
